@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/** RESET TO DEFAULT */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

/** DEFAULT CSS  */
html,
body {
  overflow-x: hidden;
}

body {
  color: #141414;
  height: 100vh;
  max-width: 100%;
  background-color: #fafafa;
}

header,
.image {
  padding: 2rem 6rem;
}

.main {
  padding: 2rem 10vw;
}

/** HEADER SECTION CSS */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
}

.logo a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.logo span {
  font-weight: 600;
  font-size: 1.1rem;
  color: #000;
}

.logo img {
  width: 40px;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 20px;
}

nav ul li {
  position: relative;
}

nav ul li a {
  font-size: 1.1rem;
  color: #090909;
  font-weight: 700;
  text-transform: uppercase;
}

nav ul li::before {
  position: absolute;
  content: "";
  bottom: 3px;
  left: 0;
  height: 2px;
  width: 100%;
  transform: scale(0);
  background: #000;
  transition: all 0.3s ease;
}

nav ul li:hover::before {
  transform: scale(1);
}

/* ! TEXT SECTION CSS */

.text h1 {
  font-size: 2.5rem;
  margin: 1rem 0 0.5rem;
}

.content {
  max-width: 755px;
  line-height: 1.5;
  margin-bottom: 1.4rem;
}

/* ! IMAGE SECTION CSS */
.image {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 700px;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center bottom;
}

/* ! INFO SECTION */

.info p {
  max-width: 1400px;
  line-height: 1.5;
  margin: 1rem 0;
}

.info h2 {
  margin: 1rem 0;
}

/*! BLOG SECTION */

.blog-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 1.5rem;
  margin-bottom: 1.4rem;
}

.blog {
  width: 370px;
  height: 450px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 1.5rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.blog h2 {
  font-size: 1.3rem;
  margin-bottom: 5px;
}

.blog img {
  width: 100%;
  object-fit: cover;
}

.recent {
  text-align: center;
  font-size: 1.4rem;
}

.time {
  margin: 10px 0;
}

/*! FOOTER SECTION */
footer {
  background: #202020;
  padding: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
}

footer h3 {
  font-size: 1rem;
}

footer p {
  font-size: 0.8rem;
  font-weight: 400;
}

@media (max-width: 499px) {
  /* ! DEFAULT CSS */

  header,
  .main {
    padding: 1rem;
  }

  /* ! HEADER SECTION */

  .logo {
    gap: 5px;
  }

  .logo span {
    font-weight: bold;
    font-size: 0.7rem;
  }

  .logo img {
    width: 30px;
  }

  nav ul li a {
    font-size: 0.9rem;
  }

  /* ! IMAGE SECTION CSS */
  .image {
    height: 200px;
    padding: 0 1rem;
  }

  .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center bottom;
  }

  /* ! HERO SECTION CSS */

  .hero-section {
    padding-top: 5%;
    height: 35vh;
  }

  .text h1 {
    font-size: 1.7rem;
    margin-bottom: 0.5rem;
  }

  .content {
    max-width: 100%;
    font-size: 0.8rem;
    line-height: 1.5;
    margin-bottom: 1rem;
  }

  /* ! BLOG SECTION CSS */

  .blog-section {
    grid-template-columns: repeat(
      auto-fit,
      minmax(100%, 1fr)
    ); /* Ensure full width */
    justify-items: center;
    gap: 3rem; /* Adjust gap for smaller screens */
    margin-bottom: 3rem;
  }

  .blog {
    width: 400px;
    height: 420px;
    padding: 1.5rem;
  }
}
