@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/** RESET TO DEFAULT */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

/** DEFAULT CSS  */

body {
  color: #141414;
  height: 100vh;
  max-width: 100%;
}

header,
.main {
  padding: 2rem 4rem;
}

.time {
  text-transform: uppercase;
  font-size: 1rem;
  margin: 0.7rem 0;
}

/** HEADER SECTION CSS */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.logo span {
  font-weight: 600;
  font-size: 1.1rem;
}

.logo img {
  width: 40px;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 20px;
}

nav ul li {
  position: relative;
}

nav ul li a {
  font-size: 1.1rem;
  color: #090909;
  font-weight: 700;
  text-transform: uppercase;
}

nav ul li::before {
  position: absolute;
  content: "";
  bottom: 3px;
  left: 0;
  height: 2px;
  width: 100%;
  transform: scale(0);
  background: #000;
  transition: all 0.3s ease;
}

nav ul li:hover::before {
  transform: scale(1);
}

/** HERO SECTION */

.hero-section {
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(./images/hero-img.jpeg) no-repeat center bottom;
  background-size: cover;
  height: 60vh;
  color: #fff;
  display: flex;
  align-items: center;
  padding-top: 10%;
}

.text h1 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

.content {
  max-width: 755px;
  line-height: 1.5;
  margin-bottom: 1.4rem;
}

.btn {
  background-color: #d8b4a0b2;
  color: #fff;
  font-weight: 600;
  padding: 5px 15px;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.btn span {
  position: relative;
  z-index: 1;
}

.btn::before {
  position: absolute;
  top: var(--yPos);
  left: var(--xPos);
  background-color: #223843;
  width: 0;
  height: 0;
  content: "";
  transform: translate(-50%, -50%);
  border-radius: 50%;
  transition: width 0.5s ease, height 0.5s ease;
}

.btn:hover::before {
  width: 400px;
  height: 400px;
}

/** BLOG SECTION */

.blog-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 1.5rem;
}

.blog {
  width: 370px;
  height: 450px;
  display: flex;
  flex-direction: column;
  background-color: #f5f3f4;
  border-radius: 10px;
  padding: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.blog:hover {
  transform: scale(1.03);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.blog h2 {
  font-size: 1.3rem;
  margin-bottom: 5px;
}

.blog img {
  width: 80%;
  object-fit: cover;
  border-radius: 10px;
}

/** VIEW MORE SECTION */

.view-more {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0 3rem;
}

.view-more a {
  color: #000;
  font-weight: 700;
}

.view-more a:hover {
  text-decoration: underline;
}

/** FOOTER SECTION */
footer {
  background: #202020;
  padding: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
}

footer h3 {
  font-size: 1rem;
}

footer p {
  font-size: 0.8rem;
  font-weight: 400;
}

@media (max-width: 499px) {
  /* ! DEFAULT CSS */

  header,
  .main {
    padding: 1rem;
  }

  /* ! HEADER SECTION */

  .logo {
    gap: 5px;
  }

  .logo span {
    font-weight: bold;
    font-size: 0.7rem;
  }

  .logo img {
    width: 30px;
  }

  nav ul li a {
    font-size: 0.9rem;
  }

  /* ! HERO SECTION CSS */

  .hero-section {
    padding-top: 5%;
    height: 35vh;
  }

  .text h1 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }

  .content {
    max-width: 755px;
    font-size: 0.8rem;
    line-height: 1.5;
    margin-bottom: 1rem;
  }

  /* ! BLOG SECTION CSS */

  .blog-section {
    justify-items: center;
  }

  .blog {
    width: 300px;
    height: 400px;
  }
}
